.navbar-brand > img{
  width: 55px;
}

a{
  color: inherit;
}

.nav-link{
  border-radius: .5em;
}

.nav-link:hover{
  background-color: rgba(204, 204, 204, 0.959);
}

@media (max-width: 575.98px) {
  .form__log-in {
    width: 85%;
    height: fit-content;
  }

  .container--one {
    margin: 1em 0em;
  }

  .container--two {
    margin-bottom: 0.2em;
  }

  .container--three {
    margin-top: 0.2em;
  }

  .container--four,
  .container--three-sign-in {
    margin-bottom: 1.5em;
    margin-top: 1em;
  }
}

@media (min-width: 575.98px) and (max-width: 991.98px) {
  .form__log-in {
    width: 50%;
    height: fit-content;
  }
  .container--one {
    margin: 1em 0em;
  }

  .container--two {
    margin-bottom: 0.2em;
  }

  .container--three {
    margin-top: 0.2em;
  }

  .container--four {
    margin-bottom: 1.5em;
    margin-top: 1em;
  }

  .container--four,
  .container--three-sign-in {
    margin-bottom: 1.5em;
    margin-top: 1em;
  }
}

@media (min-width: 991.98px) {
  .form__log-in {
    max-width: 35em;
    height: fit-content;
  }

  .container--one {
    margin: 1em 0em;
  }

  .container--two {
    margin-bottom: 0.2em;
  }

  .container--three {
    margin-top: 0.2em;
  }

  .container--four,
  .container--three-sign-in {
    margin-bottom: 1.5em;
    margin-top: 1em;
  }
}
